body {
	background-color: silver;
	padding-bottom: 40px;
}

p {
	font-size: medium;

}
*{
	font-family: Arial ;
	margin: 15px;
	margin-top: 25px;
}
h1{
	padding: 20px;
}

h1,h2{
	text-align: center;
	padding: 30px;
}

.info{
	
	width: 50%;
	text-align: justify;
	line-height: 10px;

}
